@media screen and (max-width: 990px) {
    .japa {
        width: 50%;
        margin-bottom: 2%;
        /* Proporção se adaptar para outras telas e se afastar do texto que cairá */
    }  

    .wd {
        margin-left: 1.5%;
        margin-right: 1.5%;
        /* Cards não se encostarem ao diminuir width */
    }

    .nav {
        justify-content: center !important;
        /* Alinhamento do menu em telas menores */
    }
    
    .nav-link {
        font-size: 20px;
        padding: 10px;
        /* Adequação da fonte em tamanho e afastamento dos outros links e blocos */
    }
}

@media screen and (max-width: 576px) {
    .japa {
        width: 70%;
        margin-bottom: 2%;
        /* Proporção se adaptar para outras telas e se afastar do texto que cairá */
    }

    .nav {
        justify-content: center !important;
        /* Alinhamento do menu em telas menores */
    }

    .nav-link {
        font-size: 17px;
        padding: 5px;
        margin-top: 10px;
        /* Adequação da fonte em tamanho e afastamento dos outros links e blocos */
    }
    
}